{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/blog/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">My Blog</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

        <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                	Welcome to My Blog!
                </h1>

                {% for post in posts %}

                <!-- First Blog Post -->
                <h2>
                    <a href="{{ path('show_post', {'id':post.id}) }}">{{post.title}}</a>
                </h2>
                <p class="lead">
                    by <small>Admin</small>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published }}</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{ post.content | slice(0,775) }}...</p>
                <a class="btn btn-primary" href="{{ path('show_post', {'id':post.id}) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

                {% endfor %}

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Tags</h4>
                    <div class="row">
                        <div class="col-lg-7">
                            <ul class="list-unstyled">
                            	{% for tag in tags %}
                               		<li><a href="{{ path('post_by_tag', {'name': tag.name}) }}">{{tag.name}}</a></li>
                               	{% endfor %}
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    {% javascripts '@BlogBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}